.addBook {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.bookSearchBar {
    width: 30%;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding-left: 5px;
}

.button {
    width: 120px;
    height: 45px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    background-color: #03c2fc;
    color: #fff;
    font-size: 16px;
}

.bookInfoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 5%;
}

.bookInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.bookImg {
    border: 1px solid grey;
    margin-right: 5%;
    min-width: 235px;
}

.bookInfo p {
    margin: 5px;
}

.bookInfo input {
    height: 30px;
    width: 500px;
}

#buttonContainer {
    display: flex;
    flex-direction: row;
  }

#addButton {
    margin-top: 30px;
}

#backButton {
    margin-top: 30px;
}